<h4 class="text-center">Formulário de Inscrição</h4>
<hr>
<form class="form-group" method="POST" action="#">
  <div class="mb-2">
    <label>Nome</label> <br>
    <input class="form-control" type="text" name="nome" placeholder="Informe o Nome ">
  </div>
  <div class="mb-2">
    <label>E-mail</label>
    <input class="form-control" type="email" name="email" placeholder="Informe o E-mail">
  </div>
  <div class="mb-2">
    <label>LinkedIn</label>
    <input class="form-control" type="url" name="linkedin" placeholder="Informe o LinkedIn">
  </div>
  <div class="mb-2">
    <label>Experiência</label> <br>
    <textarea name="experiencia" class="form-control" placeholder="Informe a Experiência"></textarea>
  </div>
  <input class="btn btn-success" type="submit" name="submit">

</form>